.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    padding: 80px 24px;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.header button {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 0;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.3s all;
}

.header button:hover {
    background-color: var(--primary-rgba5);
}

.content {
    margin-top: 80px;
    width: 100%;
}

.content h2 {
    margin-bottom: 24px;
}

.content section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media (max-width: 600px) {
    .content section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .container {
        padding: 40px 24px;
        align-items: flex-start;
    }

    .content {
        margin-top: 40px;
    }
}
