.container {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s;
}

.container:hover {
    opacity: 0.65;
}

.filled {
    background-color: var(--primary);
    color: var(--primary-contrast);
}

.outlined {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.inline {
    color: var(--primary);
}
