* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    line-height: 130%;
}

button {
    cursor: pointer;
}

strong {
    font-weight: 600;
}

html {
    --background: #F7F7F7;
    --section-background: #FFFFFF;
    --border: #CECECE;
    --box-shadow: -2px -2px 10px 0 rgba(0, 0, 0, 0.05);

    --primary: #4FC646;
    --primary-contrast: #FFFFFF;
    --primary-rgba10: rgba(79, 198, 70, 0.1);

    --text: #1F1F1F;

    --danger: #EF233C;
    --info: #35A7FF;
    --warn: #EFA00B;

    font-size: 10px;
    background-color: var(--background);
}
