.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    padding: 80px 24px;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}

.content {
    width: 100%;
}

.content > p {
    text-align: center;
    opacity: 0.5;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .container {
        padding: 40px 24px;
        align-items: flex-start;
    }
}
